html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mitr", sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-header {
    background-image: url("assets/images/bg-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-blur {
    background-color: #363636b9;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.custom-shape-divider-bottom-1650131315 {
    position: absolute;
    bottom: 143px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650131315 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 184px;
    transform: rotateY(180deg);
}

@media only screen and (max-width: 600px) {
    .custom-shape-divider-bottom-1650131315 svg {
        width: 200%;
    }
}

.custom-shape-divider-bottom-1650131315 .shape-fill {
    fill: #2464eb;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.container-overlay {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.container-overlay:hover .overlay,
.container-overlay:active .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.7);
}

.overlay-content {
    opacity: 0;
    transition: opacity 0.35s ease;
}

.container-overlay:hover .overlay-content,
.container-overlay:active .overlay-content {
    opacity: 1;
}

.social-icon {
    transition: background-color 0.35s ease;
}

.social-icon:hover,
.social-icon:active {
    background-color: white;
}

.social-icon svg {
    fill: white;
}

.social-icon:hover svg,
.social-icon:active svg {
    fill: #2464eb;
}